# This file was auto-generated by Fern from our API Definition.

import typing

from .. import core
from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.deal import Deal
from ..types.pipeline import Pipeline
from ..types.pipelines import Pipelines
from .raw_client import AsyncRawDealsClient, RawDealsClient
from .types.get_crm_attributes_deals_response_item import GetCrmAttributesDealsResponseItem
from .types.get_crm_deals_request_sort import GetCrmDealsRequestSort
from .types.get_crm_deals_response import GetCrmDealsResponse
from .types.post_crm_deals_import_response import PostCrmDealsImportResponse
from .types.post_crm_deals_response import PostCrmDealsResponse

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class DealsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawDealsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawDealsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawDealsClient
        """
        return self._raw_client

    def get_deal_attributes(
        self, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.List[GetCrmAttributesDealsResponseItem]:
        """
        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.List[GetCrmAttributesDealsResponseItem]
            Returns list of deal attributes

        Examples
        --------
        from brevo import Brevo

        client = Brevo(
            api_key="YOUR_API_KEY",
        )
        client.deals.get_deal_attributes()
        """
        _response = self._raw_client.get_deal_attributes(request_options=request_options)
        return _response.data

    def get_all_deals(
        self,
        *,
        filters_attributes_deal_name: typing.Optional[str] = None,
        filters_linked_companies_ids: typing.Optional[str] = None,
        filters_linked_contacts_ids: typing.Optional[str] = None,
        modified_since: typing.Optional[str] = None,
        created_since: typing.Optional[str] = None,
        offset: typing.Optional[int] = None,
        limit: typing.Optional[int] = None,
        sort: typing.Optional[GetCrmDealsRequestSort] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> GetCrmDealsResponse:
        """
        Parameters
        ----------
        filters_attributes_deal_name : typing.Optional[str]
            Filter by attributes. If you have a filter for the owner on your end, please send it as filters[attributes.deal_owner] and utilize the account email for the filtering.

        filters_linked_companies_ids : typing.Optional[str]
            Filter by linked companies ids

        filters_linked_contacts_ids : typing.Optional[str]
            Filter by linked companies ids

        modified_since : typing.Optional[str]
            Filter (urlencoded) the contacts modified after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). Prefer to pass your timezone in date-time format for accurate result.

        created_since : typing.Optional[str]
            Filter (urlencoded) the contacts created after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). Prefer to pass your timezone in date-time format for accurate result.

        offset : typing.Optional[int]
            Index of the first document of the page

        limit : typing.Optional[int]
            Number of documents per page

        sort : typing.Optional[GetCrmDealsRequestSort]
            Sort the results in the ascending/descending order. Default order is **descending** by creation if `sort` is not passed

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetCrmDealsResponse
            Returns deals list with filters

        Examples
        --------
        from brevo import Brevo

        client = Brevo(
            api_key="YOUR_API_KEY",
        )
        client.deals.get_all_deals()
        """
        _response = self._raw_client.get_all_deals(
            filters_attributes_deal_name=filters_attributes_deal_name,
            filters_linked_companies_ids=filters_linked_companies_ids,
            filters_linked_contacts_ids=filters_linked_contacts_ids,
            modified_since=modified_since,
            created_since=created_since,
            offset=offset,
            limit=limit,
            sort=sort,
            request_options=request_options,
        )
        return _response.data

    def create_a_deal(
        self,
        *,
        name: str,
        attributes: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        linked_companies_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        linked_contacts_ids: typing.Optional[typing.Sequence[int]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> PostCrmDealsResponse:
        """
        Parameters
        ----------
        name : str
            Name of deal

        attributes : typing.Optional[typing.Dict[str, typing.Any]]
            Attributes for deal creation To assign owner of a Deal you can send attributes.deal_owner and utilize the account email or ID. If you want to create a deal on a specific pipeline and stage you can use the following attributes `pipeline` and `deal_stage`. Pipeline and deal_stage are ids you can fetch using this endpoint `/crm/pipeline/details/{pipelineID}`

        linked_companies_ids : typing.Optional[typing.Sequence[str]]
            Company ids to be linked with deal

        linked_contacts_ids : typing.Optional[typing.Sequence[int]]
            Contact ids to be linked with deal

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        PostCrmDealsResponse
            Created new Deal

        Examples
        --------
        from brevo import Brevo

        client = Brevo(
            api_key="YOUR_API_KEY",
        )
        client.deals.create_a_deal(
            name="Deal: Connect with company",
        )
        """
        _response = self._raw_client.create_a_deal(
            name=name,
            attributes=attributes,
            linked_companies_ids=linked_companies_ids,
            linked_contacts_ids=linked_contacts_ids,
            request_options=request_options,
        )
        return _response.data

    def import_deals_creation_and_updation(
        self,
        *,
        file: typing.Optional[core.File] = OMIT,
        mapping: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> PostCrmDealsImportResponse:
        """
        Import deals from a CSV file with mapping options.

        Parameters
        ----------
        file : typing.Optional[core.File]
            See core.File for more documentation

        mapping : typing.Optional[typing.Dict[str, typing.Any]]
            The mapping options in JSON format. Here is an example of the JSON structure: ```json {
              "link_entities": true, // Determines whether to link related entities during the import process
              "unlink_entities": false, // Determines whether to unlink related entities during the import process
              "update_existing_records": true, // Determines whether to update based on company ID or treat every row as create
              "unset_empty_attributes": false // Determines whether to unset a specific attribute during update if the values input is blank
            } ```

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        PostCrmDealsImportResponse
            Successfully imported deals

        Examples
        --------
        from brevo import Brevo

        client = Brevo(
            api_key="YOUR_API_KEY",
        )
        client.deals.import_deals_creation_and_updation()
        """
        _response = self._raw_client.import_deals_creation_and_updation(
            file=file, mapping=mapping, request_options=request_options
        )
        return _response.data

    def link_and_unlink_a_deal_with_contacts_and_companies(
        self,
        id: str,
        *,
        link_company_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        link_contact_ids: typing.Optional[typing.Sequence[int]] = OMIT,
        unlink_company_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        unlink_contact_ids: typing.Optional[typing.Sequence[int]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> None:
        """
        Parameters
        ----------
        id : str

        link_company_ids : typing.Optional[typing.Sequence[str]]
            Company ids to be linked with deal

        link_contact_ids : typing.Optional[typing.Sequence[int]]
            Contact ids for contacts to be linked with deal

        unlink_company_ids : typing.Optional[typing.Sequence[str]]
            Company ids to be unlinked from deal

        unlink_contact_ids : typing.Optional[typing.Sequence[int]]
            Contact ids for contacts to be unlinked from deal

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        from brevo import Brevo

        client = Brevo(
            api_key="YOUR_API_KEY",
        )
        client.deals.link_and_unlink_a_deal_with_contacts_and_companies(
            id="id",
        )
        """
        _response = self._raw_client.link_and_unlink_a_deal_with_contacts_and_companies(
            id,
            link_company_ids=link_company_ids,
            link_contact_ids=link_contact_ids,
            unlink_company_ids=unlink_company_ids,
            unlink_contact_ids=unlink_contact_ids,
            request_options=request_options,
        )
        return _response.data

    def get_a_deal(self, id: str, *, request_options: typing.Optional[RequestOptions] = None) -> Deal:
        """
        Parameters
        ----------
        id : str

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Deal
            Returns the deal by id

        Examples
        --------
        from brevo import Brevo

        client = Brevo(
            api_key="YOUR_API_KEY",
        )
        client.deals.get_a_deal(
            id="id",
        )
        """
        _response = self._raw_client.get_a_deal(id, request_options=request_options)
        return _response.data

    def delete_a_deal(self, id: str, *, request_options: typing.Optional[RequestOptions] = None) -> None:
        """
        Parameters
        ----------
        id : str

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        from brevo import Brevo

        client = Brevo(
            api_key="YOUR_API_KEY",
        )
        client.deals.delete_a_deal(
            id="id",
        )
        """
        _response = self._raw_client.delete_a_deal(id, request_options=request_options)
        return _response.data

    def update_a_deal(
        self,
        id: str,
        *,
        attributes: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        linked_companies_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        linked_contacts_ids: typing.Optional[typing.Sequence[int]] = OMIT,
        name: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> None:
        """
        Parameters
        ----------
        id : str

        attributes : typing.Optional[typing.Dict[str, typing.Any]]
            Attributes for deal update To assign owner of a Deal you can send attributes.deal_owner and utilize the account email or ID. If you wish to update the pipeline of a deal you need to provide the `pipeline` and the `deal_stage` Pipeline and deal_stage are ids you can fetch using this endpoint `/crm/pipeline/details/{pipelineID}`

        linked_companies_ids : typing.Optional[typing.Sequence[str]]
            Warning - Using PATCH on linkedCompaniesIds replaces the list of linked contacts. Omitted IDs will be removed.

        linked_contacts_ids : typing.Optional[typing.Sequence[int]]
            Warning - Using PATCH on linkedContactIds replaces the list of linked contacts. Omitted IDs will be removed.

        name : typing.Optional[str]
            Name of deal

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        from brevo import Brevo

        client = Brevo(
            api_key="YOUR_API_KEY",
        )
        client.deals.update_a_deal(
            id="id",
        )
        """
        _response = self._raw_client.update_a_deal(
            id,
            attributes=attributes,
            linked_companies_ids=linked_companies_ids,
            linked_contacts_ids=linked_contacts_ids,
            name=name,
            request_options=request_options,
        )
        return _response.data

    def get_pipeline_stages(self, *, request_options: typing.Optional[RequestOptions] = None) -> Pipeline:
        """
        This endpoint is deprecated. Prefer /crm/pipeline/details/{pipelineID} instead.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Pipeline
            Returns list of pipeline stages

        Examples
        --------
        from brevo import Brevo

        client = Brevo(
            api_key="YOUR_API_KEY",
        )
        client.deals.get_pipeline_stages()
        """
        _response = self._raw_client.get_pipeline_stages(request_options=request_options)
        return _response.data

    def get_all_pipelines(self, *, request_options: typing.Optional[RequestOptions] = None) -> Pipelines:
        """
        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Pipelines
            Returns list of pipelines and and there details

        Examples
        --------
        from brevo import Brevo

        client = Brevo(
            api_key="YOUR_API_KEY",
        )
        client.deals.get_all_pipelines()
        """
        _response = self._raw_client.get_all_pipelines(request_options=request_options)
        return _response.data

    def get_a_pipeline(self, pipeline_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> Pipelines:
        """
        Parameters
        ----------
        pipeline_id : str

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Pipelines
            Returns pipeline and its details

        Examples
        --------
        from brevo import Brevo

        client = Brevo(
            api_key="YOUR_API_KEY",
        )
        client.deals.get_a_pipeline(
            pipeline_id="pipelineID",
        )
        """
        _response = self._raw_client.get_a_pipeline(pipeline_id, request_options=request_options)
        return _response.data


class AsyncDealsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawDealsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawDealsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawDealsClient
        """
        return self._raw_client

    async def get_deal_attributes(
        self, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.List[GetCrmAttributesDealsResponseItem]:
        """
        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.List[GetCrmAttributesDealsResponseItem]
            Returns list of deal attributes

        Examples
        --------
        import asyncio

        from brevo import AsyncBrevo

        client = AsyncBrevo(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.deals.get_deal_attributes()


        asyncio.run(main())
        """
        _response = await self._raw_client.get_deal_attributes(request_options=request_options)
        return _response.data

    async def get_all_deals(
        self,
        *,
        filters_attributes_deal_name: typing.Optional[str] = None,
        filters_linked_companies_ids: typing.Optional[str] = None,
        filters_linked_contacts_ids: typing.Optional[str] = None,
        modified_since: typing.Optional[str] = None,
        created_since: typing.Optional[str] = None,
        offset: typing.Optional[int] = None,
        limit: typing.Optional[int] = None,
        sort: typing.Optional[GetCrmDealsRequestSort] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> GetCrmDealsResponse:
        """
        Parameters
        ----------
        filters_attributes_deal_name : typing.Optional[str]
            Filter by attributes. If you have a filter for the owner on your end, please send it as filters[attributes.deal_owner] and utilize the account email for the filtering.

        filters_linked_companies_ids : typing.Optional[str]
            Filter by linked companies ids

        filters_linked_contacts_ids : typing.Optional[str]
            Filter by linked companies ids

        modified_since : typing.Optional[str]
            Filter (urlencoded) the contacts modified after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). Prefer to pass your timezone in date-time format for accurate result.

        created_since : typing.Optional[str]
            Filter (urlencoded) the contacts created after a given UTC date-time (YYYY-MM-DDTHH:mm:ss.SSSZ). Prefer to pass your timezone in date-time format for accurate result.

        offset : typing.Optional[int]
            Index of the first document of the page

        limit : typing.Optional[int]
            Number of documents per page

        sort : typing.Optional[GetCrmDealsRequestSort]
            Sort the results in the ascending/descending order. Default order is **descending** by creation if `sort` is not passed

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GetCrmDealsResponse
            Returns deals list with filters

        Examples
        --------
        import asyncio

        from brevo import AsyncBrevo

        client = AsyncBrevo(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.deals.get_all_deals()


        asyncio.run(main())
        """
        _response = await self._raw_client.get_all_deals(
            filters_attributes_deal_name=filters_attributes_deal_name,
            filters_linked_companies_ids=filters_linked_companies_ids,
            filters_linked_contacts_ids=filters_linked_contacts_ids,
            modified_since=modified_since,
            created_since=created_since,
            offset=offset,
            limit=limit,
            sort=sort,
            request_options=request_options,
        )
        return _response.data

    async def create_a_deal(
        self,
        *,
        name: str,
        attributes: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        linked_companies_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        linked_contacts_ids: typing.Optional[typing.Sequence[int]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> PostCrmDealsResponse:
        """
        Parameters
        ----------
        name : str
            Name of deal

        attributes : typing.Optional[typing.Dict[str, typing.Any]]
            Attributes for deal creation To assign owner of a Deal you can send attributes.deal_owner and utilize the account email or ID. If you want to create a deal on a specific pipeline and stage you can use the following attributes `pipeline` and `deal_stage`. Pipeline and deal_stage are ids you can fetch using this endpoint `/crm/pipeline/details/{pipelineID}`

        linked_companies_ids : typing.Optional[typing.Sequence[str]]
            Company ids to be linked with deal

        linked_contacts_ids : typing.Optional[typing.Sequence[int]]
            Contact ids to be linked with deal

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        PostCrmDealsResponse
            Created new Deal

        Examples
        --------
        import asyncio

        from brevo import AsyncBrevo

        client = AsyncBrevo(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.deals.create_a_deal(
                name="Deal: Connect with company",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create_a_deal(
            name=name,
            attributes=attributes,
            linked_companies_ids=linked_companies_ids,
            linked_contacts_ids=linked_contacts_ids,
            request_options=request_options,
        )
        return _response.data

    async def import_deals_creation_and_updation(
        self,
        *,
        file: typing.Optional[core.File] = OMIT,
        mapping: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> PostCrmDealsImportResponse:
        """
        Import deals from a CSV file with mapping options.

        Parameters
        ----------
        file : typing.Optional[core.File]
            See core.File for more documentation

        mapping : typing.Optional[typing.Dict[str, typing.Any]]
            The mapping options in JSON format. Here is an example of the JSON structure: ```json {
              "link_entities": true, // Determines whether to link related entities during the import process
              "unlink_entities": false, // Determines whether to unlink related entities during the import process
              "update_existing_records": true, // Determines whether to update based on company ID or treat every row as create
              "unset_empty_attributes": false // Determines whether to unset a specific attribute during update if the values input is blank
            } ```

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        PostCrmDealsImportResponse
            Successfully imported deals

        Examples
        --------
        import asyncio

        from brevo import AsyncBrevo

        client = AsyncBrevo(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.deals.import_deals_creation_and_updation()


        asyncio.run(main())
        """
        _response = await self._raw_client.import_deals_creation_and_updation(
            file=file, mapping=mapping, request_options=request_options
        )
        return _response.data

    async def link_and_unlink_a_deal_with_contacts_and_companies(
        self,
        id: str,
        *,
        link_company_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        link_contact_ids: typing.Optional[typing.Sequence[int]] = OMIT,
        unlink_company_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        unlink_contact_ids: typing.Optional[typing.Sequence[int]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> None:
        """
        Parameters
        ----------
        id : str

        link_company_ids : typing.Optional[typing.Sequence[str]]
            Company ids to be linked with deal

        link_contact_ids : typing.Optional[typing.Sequence[int]]
            Contact ids for contacts to be linked with deal

        unlink_company_ids : typing.Optional[typing.Sequence[str]]
            Company ids to be unlinked from deal

        unlink_contact_ids : typing.Optional[typing.Sequence[int]]
            Contact ids for contacts to be unlinked from deal

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        import asyncio

        from brevo import AsyncBrevo

        client = AsyncBrevo(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.deals.link_and_unlink_a_deal_with_contacts_and_companies(
                id="id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.link_and_unlink_a_deal_with_contacts_and_companies(
            id,
            link_company_ids=link_company_ids,
            link_contact_ids=link_contact_ids,
            unlink_company_ids=unlink_company_ids,
            unlink_contact_ids=unlink_contact_ids,
            request_options=request_options,
        )
        return _response.data

    async def get_a_deal(self, id: str, *, request_options: typing.Optional[RequestOptions] = None) -> Deal:
        """
        Parameters
        ----------
        id : str

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Deal
            Returns the deal by id

        Examples
        --------
        import asyncio

        from brevo import AsyncBrevo

        client = AsyncBrevo(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.deals.get_a_deal(
                id="id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_a_deal(id, request_options=request_options)
        return _response.data

    async def delete_a_deal(self, id: str, *, request_options: typing.Optional[RequestOptions] = None) -> None:
        """
        Parameters
        ----------
        id : str

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        import asyncio

        from brevo import AsyncBrevo

        client = AsyncBrevo(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.deals.delete_a_deal(
                id="id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.delete_a_deal(id, request_options=request_options)
        return _response.data

    async def update_a_deal(
        self,
        id: str,
        *,
        attributes: typing.Optional[typing.Dict[str, typing.Any]] = OMIT,
        linked_companies_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        linked_contacts_ids: typing.Optional[typing.Sequence[int]] = OMIT,
        name: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> None:
        """
        Parameters
        ----------
        id : str

        attributes : typing.Optional[typing.Dict[str, typing.Any]]
            Attributes for deal update To assign owner of a Deal you can send attributes.deal_owner and utilize the account email or ID. If you wish to update the pipeline of a deal you need to provide the `pipeline` and the `deal_stage` Pipeline and deal_stage are ids you can fetch using this endpoint `/crm/pipeline/details/{pipelineID}`

        linked_companies_ids : typing.Optional[typing.Sequence[str]]
            Warning - Using PATCH on linkedCompaniesIds replaces the list of linked contacts. Omitted IDs will be removed.

        linked_contacts_ids : typing.Optional[typing.Sequence[int]]
            Warning - Using PATCH on linkedContactIds replaces the list of linked contacts. Omitted IDs will be removed.

        name : typing.Optional[str]
            Name of deal

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        import asyncio

        from brevo import AsyncBrevo

        client = AsyncBrevo(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.deals.update_a_deal(
                id="id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.update_a_deal(
            id,
            attributes=attributes,
            linked_companies_ids=linked_companies_ids,
            linked_contacts_ids=linked_contacts_ids,
            name=name,
            request_options=request_options,
        )
        return _response.data

    async def get_pipeline_stages(self, *, request_options: typing.Optional[RequestOptions] = None) -> Pipeline:
        """
        This endpoint is deprecated. Prefer /crm/pipeline/details/{pipelineID} instead.

        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Pipeline
            Returns list of pipeline stages

        Examples
        --------
        import asyncio

        from brevo import AsyncBrevo

        client = AsyncBrevo(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.deals.get_pipeline_stages()


        asyncio.run(main())
        """
        _response = await self._raw_client.get_pipeline_stages(request_options=request_options)
        return _response.data

    async def get_all_pipelines(self, *, request_options: typing.Optional[RequestOptions] = None) -> Pipelines:
        """
        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Pipelines
            Returns list of pipelines and and there details

        Examples
        --------
        import asyncio

        from brevo import AsyncBrevo

        client = AsyncBrevo(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.deals.get_all_pipelines()


        asyncio.run(main())
        """
        _response = await self._raw_client.get_all_pipelines(request_options=request_options)
        return _response.data

    async def get_a_pipeline(
        self, pipeline_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> Pipelines:
        """
        Parameters
        ----------
        pipeline_id : str

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Pipelines
            Returns pipeline and its details

        Examples
        --------
        import asyncio

        from brevo import AsyncBrevo

        client = AsyncBrevo(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.deals.get_a_pipeline(
                pipeline_id="pipelineID",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_a_pipeline(pipeline_id, request_options=request_options)
        return _response.data
